.post-page-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.heading {
  font-family: "source sans pro";
}

.post-page-main .sidebar {
    display: none;
}


.post-main h2{
  font-size: 2.25em;
}

 .post-main a{
  color: #5f0b0a;
  text-decoration: underline;
}

.post-main li{
  font-family: "source sans pro";
}

.post-main table{
  table-layout: fixed;
  font-family: "source sans pro";
  font-size: 0.9rem;
}

.post-main table td{
border: none;
}

.post-main table td:first-child, th:first-child{
    font-weight: 600;
    text-align: right;
}​


.post-main table .wide{
  width: 30%;
}

.post-main table .wider{
  width: 35%;
}


.post-main table tr:nth-child(even) {background-color: #f2f2f2;}



@media only screen and (max-width: 850px) {
  .post-page-main {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
  }
  /* .mobile-bio-main{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
 .post-page-main .sidebar{display: none;}
 .post-page-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .post-main h2{
    font-size: 1.5em;
  }
}
