
p, .title{
  font-family: "source sans pro";
}

 h2{
  font-size: 2em;
}
.about-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    width: 90%;
}

.text-info{
  color: #565656 !important;
}

.text-dark{
  font-family: "Teko"
}

.text-complementary small{
  color: #333;
}

.text-complementary small:hover{
  color: #333;
  text-decoration: underline;
}

.text-complementary small:active{
  color: #555;

}

.mobile-bio-main{
  display: none;
}



@media only screen and (max-width: 850px) {
  .sidebar{display: none;}
  .mobile-bio-main{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .p-4{
    padding: 0.5rem !important;
  }
  .post-list-main .title{
    font-size: 3vh;
  }
}
