
p, .title{
  font-family: "source sans pro";
}

.index-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    width: 90%;
}

.text-info{
  color: #efefef;
}

.text-dark{
  font-family: "Teko"
}

.text-complementary small{
  color: #333;
}

.text-complementary small:hover{
  color: #333;
  text-decoration: underline;
}

.text-complementary small:active{
  color: #555;

}


@media only screen and (max-width: 850px) {
  .sidebar{display: none;}
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
