.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #444;
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
}


.bottom-bar {
  width: 100%;
  background: #444;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}
.head-logo {
  font-family: "Teko";
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

small {
    font-family: "Teko";
}

.mobile-bio-main {
  background: white;
  /* display: none; */
}



@media only screen and (max-width: 850px) {
  .bottom-bar{display: flex; height: 3em;}
  .bottom-bar a{margin-top: 0.4em;}
  .social-links{display: none;}
  .mobile-pages-main{display: block; font-size: 1.2em;}
  .mobile-bio-main{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-bio-main h4{
    margin-bottom: 0;
  }

  .mobile-bio-main p{
    font-size: 2vh;
  }
  .mobile-bio-main img{
    margin-right: 1em;
  }
  .mobile-bio-main .bio{
    margin-top: 1em;
  }
  .head-logo {
    font-size: 6vh;
  }
}
