.sidebar-main {
    width: 100%;

}

.side-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-links {
    margin-top: 3rem;
    padding-top: 2rem;
    font-family: "Source Sans Pro";
    font-size: 1.2em;
    font-weight: 500;
}


.profile-img {
     border-radius: 50%;
     box-shadow: 1px 1px 3px;
}

small, h3, p {
    font-family: 'source sans pro';

}

h4 {
  font-family: "Teko";
  font-size: 1em;
}

.author-bio {
    font-size: 2vw;
}
